* {
    box-sizing: border-box;
}

body, html, h1, h2 {
    height: 100%;
    margin: 0;
    line-height: 1.7em;
}

hr {
    height: 1px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: -1px -1px 3px #ffffff, 1px 1px 3px #000000;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 0px 5px #000000be;
    color:#ffffff;
}

p {
    font-family: 'Noto Sans Display', sans-serif;
    text-shadow: 0px 0px 5px #000000be;
    color:#ffffff;
}

.body {
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(-45deg,#00000000 93% 0, #d6ffddb4),
                linear-gradient(45deg,#00000000 93% 0, #7edb8c96),
                linear-gradient(135deg,#00000000 93% 0, #78dd8796),
                linear-gradient(-135deg,#00000000 93% 0, #8bdd9796);
    background-color: #061b09a9;
    background-position: center;
    backdrop-filter: blur(20px);
    box-shadow: -1px -1px 2px #ffffff88, 1px 1px 2px #00000088, 0 0 20px #000000;
    outline: 1px solid #ffffff55;
}

.header {
    font-family: 'Pangolin', cursive;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #000000;
}

.column-left img {
    filter: invert(1);
    box-shadow: 0px, 0px, 10px;
}

.column-right img {
    filter: invert(1);
    box-shadow: 0px, 0px, 10px;
}

.container {
    width: 100%;
}

.footer {
    clear: both;
    background-image: linear-gradient(145deg, #32ccee, #18e14a);
    color: white;
    text-align: center;
    padding: 3px;
    text-shadow: 0px 0px 10px #000000c4;
}

.backgrnd {
    background-image: url("../img/artwork-clover-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.artworks {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3%;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgb(50, 53, 50);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    left: 50%;
    margin-left: -60px;
    box-shadow: 0 0 15px #000000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px #000000d7;
    margin-bottom: 25px;
    border-radius: 5%;
    padding: 5px;
    transition: box-shadow 0.5s;
}

.polaroid p {
    color: #000000;
    text-shadow: 0px 0px 0px;
}

.polaroid:hover {
    box-shadow: 0px 0px 30px #9fff9f;
    transition: box-shadow 0.5s;
}

img {
    border-radius: 5%;
}

.desc {
    font-family: 'Pangolin', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 20px;
}

a:link {
    color: rgb(44, 197, 21);
    text-decoration: none;
    transition: color 0.5s;
}
  
a:visited {
    color: rgb(44, 197, 21);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: rgb(30, 196, 202);
    text-decoration: none;
    transition: color 0.5s;
}

a:active {
    color: blue;
    text-decoration: none;
    transition: color 0.5s;
}
  
  /* Create three columns that floats next to each other */
.column {
    float: left;
    width: 100%;
}

.left {
    width: 70%;
}

.middle, .right {
    width: 35%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.YoutubeVideo {
	margin-top: 50px;
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 50px;
	height: 0;
	overflow: hidden;
    box-shadow: 0px 0px 10px #000000;
    transition: box-shadow 0.5s;
}

.YoutubeVideo:hover {
    box-shadow: 0px 0px 20px #93ff93;
    transition: box-shadow 0.5s;
}

.YoutubeVideo iframe, .YoutubeVideo object, .YoutubeVideo embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .artworks {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3%;
    }
}

@media screen and (max-width: 850px) {
    .artworks {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3%;
    }

    .body {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 550px) {
    .artworks {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 120%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1%;
    }

    .body {
        margin-left: 0;
        margin-right: 0;
    }
}

.avatar {
    float: right;
    background-color: white;
    box-shadow: 0px 0px 20px #00000085;
    border-radius: 10%;
    padding: 5px;
    position: relative;
    transition: box-shadow 0.5s;
    margin-left: 30px;
    margin-bottom: 20px;
}

.avatar:hover {
    box-shadow: 0px 0px 20px #6dff6de1;
    transition: box-shadow 0.5s;
}

@media screen and (max-width: 1000px) {
    .avatar {
        position: relative;
    }
}

@media screen and (min-width: 1000px) {
    .backgrnd {
        background-image: url("../img/artwork-clover.jpg");
    }
}

.nerdModeButton {
    display: block;
}
