html {
    background-image: linear-gradient(145deg, #32ccee, #18e14a);
}

.terminal p {
    font-family: monospace;
    font-size: 16px;
    margin: 5px;
    text-shadow: 0 0 5px #000000;
}

.terminal-container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
 }

.terminal {
    background: linear-gradient(-45deg,#00000000 90% 0, #d6ffddb4),
                linear-gradient(45deg,#00000000 90% 0, #7edb8c96),
                linear-gradient(135deg,#00000000 90% 0, #78dd8796),
                linear-gradient(-135deg,#00000000 90% 0, #8bdd9796);
    backdrop-filter: blur(15px);
    width: 100%;
    border-radius: 6px;
    display: inline-block;
    box-shadow: -1px -1px 2px #ffffff88, 1px 1px 2px #00000088, 0 0 20px #000000;
    outline: 1px solid #ffffff55;
    background-color: #061b09a9;
}

.terminal-input {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.terminal-result {
    width: 100%;
    height: 350px;
    padding: 15px 20px;
    overflow-y: auto;
    resize: none;
    border: none;
    line-height: 20px;
    display: block;
    word-break: break-all;
}

.userEnteredText {
    font-size: 16px;
    color: #cccbcb9a;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin: 0;
    border: none;
    outline: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 16px;
    background-color: #0000009d;
    color: white;
    font-family: monospace;
    vertical-align: middle;
}

.errorText {
    color: rgb(255, 75, 75);
}

/* Customise scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}