* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  user-select: none;
}

h1 {
  font-size: 20pt !important;
  margin-left: 10px;
  color: #fff;
  text-shadow: 0 0 5px #000, 0 0 10px #000;
}

h1::after {
  content: "";
  width: 100%;
  height: 10px;
  position: relative;
  z-index: 10;
  background-color: #fff7;
}

h2 {
  font-size: 18pt !important;
  margin-left: 10px;
  color: #fff;
  text-shadow: 0 0 5px #000, 0 0 10px #000;
}

p {
  font-size: 11pt !important;
  color: #fff;
  text-shadow: 0 0 5px #000, 0 0 5px #000;
  line-height: 1.7em;
  margin: 1em 2em;
}

p a {
  text-decoration: none;
  color: aqua;
  text-shadow: 0 0 5px #000;
}

p a:hover {
  text-decoration: underline;
}

.master-container {
  background-image: url("../img/piano-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}

#nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  margin: 10px auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid 1px #000a;
  box-shadow: 0 0 15px #000, inset 0 0 1px 1px #fffa;
  background-color: #0009;
  background-image: linear-gradient(180deg, #ddd6 10%, #0000 55%);
  position: sticky;
  top: 0;
  z-index: 11;
}

.window.green::before,
.window.green > .title-bar {
  background-color: #0b5a08;
}

.window {
  max-width: 1100px;
  width: 100%;
  margin: 10px auto;
}

.window-content {
  width: 100%;
  border: solid 1px #000;
  box-shadow: 0 0 1px 1px #fffa;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-color: #0000;
  z-index: 10;
}

.window-body {
  background: linear-gradient(#555, #333) !important;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

.grid-item-content {
  margin: 10px;
}

.grid-item img {
  width: 100%;
  position: relative;
  border: solid 1px #000;
  display: block;
  box-shadow: 0 0 1px 1px #fffa;
  z-index: 10;
}

.grid-item {
  width: 180px;
  margin: 10px;
  border-radius: 5px;
  border: solid 1px #000a;
  box-shadow: inset 0 0 1px 1px #fffa, 0 0 20px #000;
  background-image: linear-gradient(180deg, #0000, #fff7 50%, #0000 55%);
  text-decoration: none;
  transition: filter 0.3s;
  position: relative;
}

.grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 1px 1px #fffa, 0 0 20px #85ff85;
  background-color: #58ff2e33;
  background-image: linear-gradient(180deg, #0000, #fffa 50%, #0000 55%),
    radial-gradient(ellipse at bottom, #fff9 20%, #0000 80%);
  opacity: 0;
  transition: opacity 0.5s;
}

.grid-item:hover::after {
  opacity: 1;
  transition: opacity 0.3s;
}

.grid-item:active {
  filter: brightness(0.7) contrast(1.7);
}

.description {
  text-align: center;
  color: #000;
  font-weight: bold;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff;
  margin-top: 10px;
  position: relative;
  z-index: 10;
  font-size: 1em;
}

.YoutubeVideo {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px #000;
  margin: 25px auto;
  width: fit-content;
}

#big-title {
  font-size: 32pt;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-align: center;
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: #0007;
  display: block;
  position: relative;
}

#avatar {
  float: right;
  position: relative;
  border: solid 1px #000;
  border-radius: 6px;
  margin: 20px;
  box-shadow: inset 0 0 1px 1px #fffa, 0 0 10px #000;
  background-color: #0003;
  background-image: linear-gradient(180deg, #0000, #fff8 50%, #0000 55%);
}

#avatar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background-color: #58ff2e33;
  box-shadow: inset 0 0 1px 1px #fffa, 0 0 20px #77ff77;
  background-image: linear-gradient(180deg, #0000, #fff7 50%, #0000 55%),
    radial-gradient(ellipse at bottom, #fff7 30%, #0000 70%);
  transition: opacity 0.5s;
  opacity: 0;
}

#avatar:hover::after {
  opacity: 1;
  transition: opacity 0.3s;
}

#avatar img {
  width: 150px;
  margin: 10px;
  position: relative;
  z-index: 10;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 1px 1px #fffa;
}

.button {
  width: fit-content;
  padding: 10px 20px;
  margin: 5px;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff;
  background-color: #3333;
  background-image: linear-gradient(180deg, #fff7 10%, #0000 60%);
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: inset 0 0 1px 1px #fffa, 0 0 1px 1px #fffa;
  text-decoration: none;
  position: relative;
  transition: filter 0.5s;
}

.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: inset 0 0 1px 1px #fffa, 0 0 15px #85ff6c;
  background-color: #58ff2e33;
  background-image: linear-gradient(180deg, #fff7 10%, #0000 60%),
    radial-gradient(ellipse at bottom, #fff7 30%, #0000 70%);
  opacity: 0;
  transition: opacity 0.5s;
}

.button:hover::after {
  opacity: 1;
  transition: opacity 0.3s;
}

.button:active {
  filter: brightness(0.7) contrast(1.7);
}

.dl-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Scrollbar Customisation */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333;
  border: solid 1px #000;
  box-shadow: inset 0 0 5px #000;
  background-image: linear-gradient(-90deg, #fff3, #0000);
}

::-webkit-scrollbar-thumb {
  background: #111;
  border: solid 1px #000;
  border-radius: 3px;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #000;
  background-image: linear-gradient(90deg, #fff5, #0000);
}

::-webkit-scrollbar-thumb:hover {
  background: #0b5a08;
  box-shadow: inset 0 0 5px #fff, 0 0 5px #000;
  background-image: linear-gradient(90deg, #fff5, #0000);
}

::-webkit-scrollbar-thumb:active {
  background: #10800c;
  background-image: linear-gradient(90deg, #fff5, #0000);
}
